/*Master Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}


.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}


/*MenuNav*/

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}


/* globals */
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}



.loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
}

.error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

.empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 2rem;
    background: var(--offWhite);
    z-index: 1;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.nav-icon {
    font-size: 1.5rem;
    color: var(--primaryColor);
}

.nav-links {
    /*height: 0;
  overflow: hidden;*/
    transition: var(--mainTransition);
    list-style-type: none;
}

.nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
}

.nav-links a:hover {
    color: var(--primaryColor);
}

.show-nav {
    height: 100px;
}

/* end of navbar */
/* Hero */

.headerName{
    bottom: calc(100%);
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    letter-spacing: 0.05em;
    font-family: "Beaufort for LOL", serif;
    font-weight: 800;
    font-size: 3.75rem;
}



